* {
    box-sizing: border-box;
}

html, body {
    font-size: 12pt;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../assets/bg.png') repeat;
    letter-spacing: 0.5px;
}